<!-- mail -->
	<div class="mail" id="mail">
		<div class="container">
			<h3 class="w3l_head w3l_head1">Contact Me</h3>
			<p class="w3ls_head_para w3ls_head_para1">send Me a message</p>
			<div class="w3_mail_grids">
				<form action="#" method="post">
					<div class="col-md-6 w3_agile_mail_grid">
						<span class="input input--ichiro">
							<input class="input__field input__field--ichiro" type="text" id="input-25" name="Name" placeholder="Enter Your Name" [(ngModel)]="message.name" required>
							<label class="input__label input__label--ichiro" for="input-25">
								<span class="input__label-content input__label-content--ichiro">Your Name</span>
							</label>
						</span>
						<span class="input input--ichiro">
							<input class="input__field input__field--ichiro" type="email" id="input-26" placeholder="Enter Your Email Id" name="Email" [(ngModel)]="message.email" required>
							<label class="input__label input__label--ichiro" for="input-26">
								<span class="input__label-content input__label-content--ichiro">Your Email</span>
							</label>
						</span>
						<span class="input input--ichiro">
							<input class="input__field input__field--ichiro" type="number" id="input-27" placeholder="Enter Your Phone No." name="phoneNo" [(ngModel)]="message.phone" required>
							<label class="input__label input__label--ichiro" for="input-27">
								<span class="input__label-content input__label-content--ichiro">Your Phone Number</span>
							</label>
						</span>

					</div>
					<div class="col-md-6 w3_agile_mail_grid">
						<textarea name="Message" placeholder="Your Message" name="Message" [(ngModel)]="message.message" required></textarea>
						<input type="submit" value="Submit" (click)="sendMail(form)">
					</div>
					<div class="clearfix"> </div>
				</form>
			</div>
		</div>
	</div>

<!-- //mail -->
