<!-- /education -->
 <div class="education" id="education">
	    <div class="col-md-6 education-w3l">
		     <h3 class="w3l_head three">My Education</h3>
			  <div class="education-agile-grids">
				  <div class="education-agile-w3l">
				     <div class="education-agile-w3l-year">
					       <h4>2014-2015</h4>
						   <h6>Master Degree</h6>
				     </div>
					 <div class="education-agile-w3l-info">
					       <h4>COMPUTER UNIVERSITY</h4>
						   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa..</p>

				     </div>
				      <div class="clearfix"></div>
				  </div>
				  <div class="education-agile-w3l two">
				     <div class="education-agile-w3l-year">
					       <h4>2010-2012</h4>
						   <h6>Master Degree</h6>
				     </div>
					 <div class="education-agile-w3l-info">
					       <h4>COMPUTER UNIVERSITY</h4>
						   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa..</p>

				     </div>
				      <div class="clearfix"></div>
				  </div>
				  <div class="education-agile-w3l">
				     <div class="education-agile-w3l-year">
					       <h4>2008-2010</h4>
						   <h6>Master Degree</h6>
				     </div>
					 <div class="education-agile-w3l-info">
					       <h4>COMPUTER UNIVERSITY</h4>
						  						   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa..</p>

				     </div>
				      <div class="clearfix"></div>
				  </div>

			  </div>
		</div>
		<div class="col-md-6 skills">
		<h3 class="w3l_head two">My Skills</h3>
	     <div class="skill-agile">
						<div class='bar_group'>
						<div class='bar_group__bar thin elastic' label='HTML' value='230'></div>
						<div class='bar_group__bar thin elastic' label='Css3' value='130'></div>
						<div class='bar_group__bar thin elastic' label='Js' value='160'></div>
						<div class='bar_group__bar thin elastic' label='Php' value='340'></div>
					</div>

						</div>
		 </div>
		 <div class="clearfix"> </div>
		</div>
 <!-- //education -->
 <!-- /experience -->
 <div class="education" id="education two">
 		<div class="col-md-6 skills two">
		<h3 class="w3l_head two">More Skills</h3>
	     <div class="skill-agile">
			<div class="col-sm-4 abt-gd-left text-center">
			<div id="demo-pie-1" class="pie-title-center" data-percent="25"> <span class="pie-value"></span> </div>
			<h4>HTML</h4>
		</div>

		<div class="col-sm-4 abt-gd-left text-center">
			<div id="demo-pie-3" class="pie-title-center" data-percent="75"> <span class="pie-value"></span> </div>
			<h4>Java Script</h4>
		</div>
		<div class="col-sm-4 abt-gd-left text-center">
			<div id="demo-pie-4" class="pie-title-center" data-percent="15"> <span class="pie-value"></span> </div>
			<h4>UI/UX Designer</h4>
		</div>
		<div class="clearfix"></div>
</div>
		 </div>
	    <div class="col-md-6 education-w3l">
		     <h3 class="w3l_head three">My Experience</h3>
			  <div class="education-agile-grids">
				  <div class="education-agile-w3l">
				     <div class="education-agile-w3l-year">
					       <h4>2011-2014</h4>
						   <h6>Lorem ipsum dolor</h6>
				     </div>
					 <div class="education-agile-w3l-info">
					       <h4>Web Developer</h4>
						   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa..</p>

				     </div>
				      <div class="clearfix"></div>
				  </div>
				  <div class="education-agile-w3l two">
				     <div class="education-agile-w3l-year">
					       <h4>2012-2014</h4>
						   <h6>Lorem ipsum dolor</h6>
				     </div>
					 <div class="education-agile-w3l-info">
					       <h4>Photographer</h4>
						   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa..</p>

				     </div>
				      <div class="clearfix"></div>
				  </div>
				  <div class="education-agile-w3l">
				     <div class="education-agile-w3l-year">
					       <h4>2012-2014</h4>
						   <h6>Lorem ipsum dolor</h6>
				     </div>
					 <div class="education-agile-w3l-info">
					       <h4>GRAPHIC DESIGNER</h4>
						  						   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa..</p>

				     </div>
				      <div class="clearfix"></div>
				  </div>

			  </div>
		</div>

		 <div class="clearfix"> </div>
		</div>
 <!-- //experience -->
