<!-- services -->
<div class="service" id="services">
     <div class="container">

	 		<h3 class="w3l_head two">WHAT I DO FOR YOU</h3>
			<p class="w3ls_head_para">See My Services</p>
    <div class="service-agileits">

			<div class="col-md-4 list-gds text-center">
				<i class="fa fa-cog" aria-hidden="true"></i>
				<h4>WHY CHOOSE Me.</h4>
				<p>Nam aliquam pretium feugiat. Duis sem est, viverra eu interdum ac,
					suscipit nec mauris. Suspendisse commodo tempor sagittis</p>
			</div>
			<div class="col-md-4 list-gds text-center">
				<i class="fa fa-laptop" aria-hidden="true"></i>
				<h4>WHAT I DO. </h4>
				<p>Nam aliquam pretium feugiat. Duis sem est, viverra eu interdum ac,
					suscipit nec mauris. Suspendisse commodo tempor sagittis</p>
			</div>
				<div class="col-md-4 list-gds text-center">
				<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
				<h4>My MISSION.</h4>
				<p>Nam aliquam pretium feugiat. Duis sem est, viverra eu interdum ac,
					suscipit nec mauris. Suspendisse commodo tempor sagittis</p>
			</div>

			<div class="clearfix"></div>

	 </div>
  </div>
 </div>
<!-- //services -->
