<!-- about -->
<div class="about" id="about">
  <div class="container">
    <h3 class="w3l_head">About Me</h3>
    <p class="w3ls_head_para">A few words about me</p>
    <div class="w3l-grids-about">
      <div class="col-md-5 w3ls-ab-right">
        <div class="agile-about-right-img">
          <img src="images/my_pic.jpg" alt="">
        </div>
      </div>
      <div class="col-md-7 w3ls-agile-left">
        <div class="w3ls-agile-left-info">
          <h4>Job Title</h4>
          <p>Programmer / Web Developer</p>
        </div>
        <div class="w3ls-agile-left-info">
          <h4>Name</h4>
          <p>Jitendra Kumar Gupta</p>
        </div>
        <div class="w3ls-agile-left-info">
          <h4>Sex</h4>
          <p>Male</p>
        </div>
        <div class="w3ls-agile-left-info">
          <h4>Address</h4>
          <p>Ngr Layout , Bommanhali , Bangalore</p>
        </div>
        <div class="w3ls-agile-left-info">
          <h4>Email Address</h4>
          <p><a href="mailto:er.jgupta@gmail.com">er.jgupta@gmail.com</a></p>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //about-bottom -->
