
<div class="main" id="home">
<!-- banner -->
	<div class="banner">
			<!--Slider-->
			<img src="images/my_pic.jpg" alt=" " class="img-responsive">
					<h2>I'M Jitendra Gupta</h2>
					<span>PROGRAMMER / WEB DEVELOPER</span>
				<div class="callbacks_container">
					<ul class="rslides" id="slider3">
						<li>

							<div class="slider-info">
								  <p>Proficiency with Angular Js , HTML5 , Bootstrap , CSS</p>
							</div>
						</li>

					</ul>

			<div class="clearfix"></div>
		</div>
		<!--//Slider-->
					<ul class="top-links">
									<li><a href="https://www.facebook.com/jitendra.gupta.16" target="_blank"><i class="fa fa-facebook"></i></a></li>
									<li><a href="https://plus.google.com/u/1/108623643951157881457" target="_blank"><i class="fa fa-twitter"></i></a></li>
									<li><a href="https://www.linkedin.com/profile/view?id=AAIAABJEVuEBUL113M47loarV4OE9-2LoClPngQ&trk=nav_responsive_tab_profile" target="_blank"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="" target="_blank"><i class="fa fa-google-plus"></i></a></li>
								</ul>
	</div>
<!-- //banner -->
	</div>
